
/*
    HEADER DIV STYLING
*/


#header-title {
    position: absolute;
    top: 0px; 
    color: white;
    font-size: 35px;
}

.jumbotron {
    background-color: green; 
}
/*
    CONTENT DIV STYLING
*/

#content-div {
    text-align: center; 
}

.sign-in-button {
    font-size: 20px;
    margin-bottom: 10px;
    background-color: lightgreen; 
}

.div-center-wrapper {
    text-align: center; 
}

#topButton {
    padding-bottom: 5px;
}

